[submodule "assets/controllers/base"]
	path = assets/controllers/base
	url = git@github.com:cadot-eu/basestimulus.git
[submodule "assets/js"]
	path = assets/js
	url = git@github.com:cadot-eu/basejs.git
[submodule "src/Command/base"]
	path = src/Command/base
	url = git@github.com:cadot-eu/basecommand.git
[submodule "src/Service/base"]
	path = src/Service/base
	url = git@github.com:cadot-eu/baseservice.git
