
vendor/
node_modules/
var/
migrations/
!migrations/.licence

docker-compose.yml

public
!public/index.php
!public/uploads/.licence
!public/media/.licence


/savecrud/
!assets/public/.licence

mariadb