{% extends "admin/base.html.twig" %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				Votre compte est en cours d'activation
			</main>
		</div>
	</div>
{% endblock %}
