/* -------------------------------------------------------------------------- */
/*                                    font                                    */
/* -------------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);

/* -------------------------------------------------------------------------- */
/*                           Modification bootstrap                           */
/* -------------------------------------------------------------------------- */

@import "./admin/_variables.scss"; //https://bootstrap.build/
@import "~bootstrap/scss/bootstrap";
@import "./admin/custom.scss"; //https://bootstrap.build/
/* -------------------------------------------------------------------------- */
/*                                    font                                    */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    body                                    */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   tooltip                                  */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   bouton                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   splide                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                Environnement                               */
/* -------------------------------------------------------------------------- */

.zoom:hover {
  transform: scale(1.2);
}
.star {
  color: orange;
  list-style-type: none;
}
.required:after {
  position: absolute;
  content: "*";
  color: red;
}
.turbo-progress-bar {
  height: 5px;
  background-color: green;
}
