/* -------------------------------------------------------------------------- */
/*                                    font                                    */
/* -------------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
/* -------------------------------------------------------------------------- */
/*                           Modification bootstrap                           */
/* -------------------------------------------------------------------------- */

//@import "./_variables.scss"; //https://bootstrap.build/
@import "~bootstrap/scss/bootstrap";
//@import "./custom.scss"; //https://bootstrap.build/
/* -------------------------------------------------------------------------- */
/*                                    font                                    */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    body                                    */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   tooltip                                  */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   bouton                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   splide                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                Environnement                               */
/* -------------------------------------------------------------------------- */

.zoom:hover {
  transform: scale(1.2);
}
.star {
  color: orange;
  list-style-type: none;
}
.required:after {
  position: absolute;
  content: "*";
  color: red;
}
a {
  text-decoration: none;
}
.shadow-drop-bl {
  -webkit-animation: shadow-drop-bl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
  animation: shadow-drop-bl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-23 13:3:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes shadow-drop-bl {
  0% {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-bl {
  0% {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
mark,
.mark {
  font-weight: bolder;
  background-color: inherit;
  color: inherit;
  padding: inherit;
}

#quisommesnous {
  font-size: 1.4rem;
}
