<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="robots" content="noindex"/>
        <meta name="Language" content="fr"/>
        <meta name="Author" content=""/>
        <meta name="copyright" content=""/>
        <title>
            {% block title %}{% endblock %}
        </title>
        <!-- favicon -->

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body class="bg-blanc">
        {% trans_default_domain 'base' %}
        {% include "flash_message.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
