{% if app.flashes is defined %}
	<div class="container-fluid " id="flash_message" style=" margin-top:10px;position: fixed;z-index:300;">
		<div class="row mty-4" id="error-container">
			<div class="col-8 offset-2">
				{% for message in app.flashes('notice') %}
					<div class="alert alert-info" role="alert">
						<h3>{{ message }}</h3>
					</div>
				{% endfor %}

				{% for label, messages in app.flashes(['warning', 'error']) %}
					{% for message in messages %}
						<div class="alert alert-{{ label=='error' ?  'error': label}}" role="alert">
							<h3>{{ message }}</h3>
						</div>
					{% endfor %}
				{% endfor %}
				{% for label, messages in app.flashes(['success']) %}
					{% for message in messages %}
						<div class="alert alert-success" role="alert">
							<h3>{{ message }}</h3>
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
